<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/manifest+json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
    </httpCompression>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />

        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data: blob: https://images.unsplash.com; connect-src 'self'; frame-src https://www.google.com https://maps.google.com https://maps.googleapis.com; base-uri 'self'; form-action 'self'; frame-ancestors 'none'; upgrade-insecure-requests" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="geolocation=(), camera=(), microphone=(), payment=(), usb=(), accelerometer=(), gyroscope=(), magnetometer=(), interest-cohort=(), fullscreen=(self), browsing-topics=()" />
        <add name="Cross-Origin-Opener-Policy" value="same-origin" />
        <add name="Cross-Origin-Resource-Policy" value="same-origin" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="RedirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="RedirectWWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
          </conditions>
          <action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="LegacyImgRedirect" stopProcessing="true">
          <match url="^img/(.*)$" />
          <action type="Redirect" url="Imagenes/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="LegacyImagenesGiantRedirect" stopProcessing="true">
          <match url="^imagenes%20giant/(.*)$" />
          <action type="Redirect" url="Imagenes/Hero/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="LegacySitemapRedirect" stopProcessing="true">
          <match url="^sitemap\.xml$" />
          <action type="Redirect" url="Data/sitemap.xml" redirectType="Permanent" />
        </rule>

        <rule name="LegacyWebmanifestRedirect" stopProcessing="true">
          <match url="^site\.webmanifest$" />
          <action type="Redirect" url="Data/site.webmanifest" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".git" />
          <add segment="node_modules" />
          <add segment="Docs" />
        </hiddenSegments>
        <denyUrlSequences>
          <add sequence="package.json" />
          <add sequence="package-lock.json" />
          <add sequence=".gitignore" />
          <add sequence="composer.json" />
          <add sequence="composer.lock" />
          <add sequence="yarn.lock" />
          <add sequence=".editorconfig" />
          <add sequence=".eslintrc" />
          <add sequence=".prettierrc" />
        </denyUrlSequences>
        <fileExtensions>
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".ini" allowed="false" />
          <add fileExtension=".bak" allowed="false" />
          <add fileExtension=".sh" allowed="false" />
          <add fileExtension=".conf" allowed="false" />
          <add fileExtension=".dist" allowed="false" />
          <add fileExtension=".orig" allowed="false" />
          <add fileExtension=".swp" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
